.char_insert-background {
  background-color: rgba(144, 238, 144, 0.5); /* Light green */
}

.char_delete-background {
  background-color: rgba(255, 182, 193, 0.5); /* Light red */
}

.insert-background {
  background-color: rgba(0, 255, 0, 0.4);
}

.delete-background {
  background-color: rgba(255, 0, 0, 0.3);
}

.glyph-insert {
  background-color: green;
  width: 5px !important;
  margin-left: 3px;
}

.glyph-insertion, .glyph-insert-insertion, .glyph-char_insert-insertion {
  background-color: green;
  width: 5px !important;
  margin-left: 3px;
}

.glyph-deletion, .glyph-delete-deletion, .glyph-char_delete-deletion {
  background-color: red;
  width: 5px !important;
  margin-left: 3px;
}

.glyph-insert_delete-insertion, .glyph-char_insert_delete-insertion,
.glyph-insert_delete-deletion, .glyph-char_insert_delete-deletion {
  background-color: orange;
  width: 5px !important;
  margin-left: 3px;
}

.monaco-editor .contentWidgets {
  z-index: 1000;
}

.monaco-editor .contentWidget {
  position: absolute;
  right: 0;
  top: 0;
}

.monaco-editor .contentWidget > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.monaco-editor .contentWidget button {
  margin-left: 2px; /* Updated margin-left */
  transition: opacity 0.2s;
  font-size: 12px;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 3px;
}

.monaco-editor .contentWidget button:hover {
  opacity: 0.8;
}
